#home-page {
  h2 {
    font-family: Open, sans-serif;
    text-align: center;
    color: white;
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1A2942;
}

h1 {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

h5 {
  text-align: center;
  color: gold;
}

p {
  text-align: center;
  color: #6495ED;
}

th {
  font-size: 20px;
  color: grey;
}

td a {
  font-size: 17px;
  color: #6495ED;
}

#walletInfo {
  margin-top: 7%;
}

span {
  color: grey;
}

.noCoin {
  font-size: 17px;
  color: #ADFF2F;
}

.change {
  background: dodgerblue;
  a {
  color: white;
  }
}