<main id='home-page'>
<h1>Coin Comparison</h1>
<p>Powered by Poloniex, Bter and BTCE</p>


  <table class="u-full-width">
    <tr>
      <th></th>
      <th ng-repeat="coins in ['LTC', 'DASH', 'PPC']">{{coins}}</th>
    </tr>
    <tr>
      <th>Poloniex</th>
        <span class="noCoin" ng-if="v === null">Not a pair</span>
        <td ng-repeat="(k, v) in exchanges.polo"><a target='_blank' href="https://poloniex.com/exchange#{{k}}">{{v}}</a></td>
    </tr>
    <tr>
      <th>Bter</th>
      <td ng-repeat="(k, v) in exchanges.bter">
        <span class="noCoin" ng-if="v === null">Not a pair</span>
        <a target='_blank' href="https://bter.com/trade/{{k}}">{{v}}</a></td>
    </tr>
    <tr>
      <th>BtcE</th>
      <td ng-repeat="(k, v) in exchanges.btce">
        <span class="noCoin" ng-if="v === null">Not a pair</span>
        <a ng-if="v !== null" target='_blank' href="https://btc-e.com/exchange/{{k}}">{{v}}</a>
      </td>
    </tr>
  </table>

<div id="walletInfo">
  <h4>Wallets for the following coins found below:</h4>
  <h5>
   <a target='_blank' href="https://litecoin.org/">LTC</a>
   <span>|</span>
   <a target='_blank' href="https://peercoin.net/">PPC</a>
   <span>|</span>
   <a target='_blank' href="https://www.dash.org">DASH</a>
  </h5>
</div>

</main>