@import 'vendors/skeleton';

a {
    color: RoyalBlue;
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

.active-link {
    color: green;
    text-decoration: underline;
}