@import 'vendors/skeleton';

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.active-link {
    color: green;
    text-decoration: underline;
}